snippet glyph "Glyphicon" b
<span class="glyphicon glyphicon-$1"></span>
endsnippet

snippet ico "Ct Icon" b
<span class="ct-icon-$1"></span>
endsnippet

snippet label-control "Bootstrap Control Label" b
<label class="col-sm-2 control-label">$1</label>
endsnippet
